        body{
            background-color: salmon;
        }
        *{
            text-align: center;
        }
        p{
            border: 2px solid rgb(250, 128, 114);
            margin: 10px;
            padding: 5px; 
            background-color: rgb(202, 39, 71);
            background-size: 20px;

        
        }

        a:hover{
            text-decoration: dotted;
            background-color: rgb(202, 39, 71);
            transition: 2s;
        }

        a:link{
            color: black;
        }

        table, tr, td, th{
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            background-color: whitesmoke;
        }

        table{
            width: 30%;
        
        }
        

        div.minhadiv1{
            width: 30%;
            margin: auto;
        }


        div.minhadiv2{
            width: 30%;
            margin: auto;
        }

/*ctrl q NAAO*/